software-design-doc
*.pptx

# Python
__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite
.pytest_cache/

# Node / Frontend
node_modules
node_modules/
/node_modules/
/frontend/node_modules/
frontend/node_modules
frontend/node_modules/
.next
.next/
/frontend/.next/
frontend/.next
frontend/.next/
frontend/out/
